@inherits Umbraco.Web.Macros.PartialViewMacroPage
@using Umbraco.Web


@*
    This snippet makes a list of links to the of children of the current page using an unordered HTML list.

    How it works:
    - It uses the Children method to get all child pages
    - It then generates links so the visitor can go to each page
*@

@{ var selection = Model.Content.Site().Children.Where(x => x.IsVisible()).ToArray(); }

@if (selection.Length > 0)
{
<div class="container">
    <div class="row">
        <div class="col-1">
            <a href="../">Home</a>
        </div>
        @foreach (var item in selection)
        {
        <div class="col-1">
            @if (@item.Name == "Login"){
            if (!Members.GetCurrentLoginStatus().IsLoggedIn){
            <a href="@item.Url">@item.Name</a>
            }else{
            <a href="@item.Url">Logout</a>
            }
            }else if(@item.Name == "Register"){
            if (Members.GetCurrentLoginStatus().IsLoggedIn){
            }else{
            <a href="@item.Url">@item.Name</a>
            }
            }else{
            <a href="@item.Url">@item.Name</a>
            }

        </div>
        }

        @{
        var selectionProjects = Model.Content.Site().FirstChild("ProjectsMain").Children()
        .Where(x => x.IsVisible())
        .Where(x => x.GetPropertyValue<String>
            ("Status") == "Done");
            }

            <div class="dropdown col-1">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Completed Projects
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                   
                    
                    @foreach(var item in selectionProjects){
                    
                    <a class="dropdown-item" href="@item.Url">@item.Name</a>
                    }

                </div>
            </div>
    </div>
</div>
}



